
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<h1> World weather online API results :</h1>


 <h1><%= @output[1] %></h1>

<%  @output.each do |out|  %>
<div class="card">
  <%# out[:keys].each do |key| %>
    <h1> <%=  retriever(out[:weather_type], out) %> </h1>
  <%# end %>
</div>
<% end %>


<!-- module WeatherSearchesHelper
  def retriever(api, key, weather_type)
    if weather_type == "ski"
      if key == "humidity"
        api[0][key]
      elsif key == "tempC"
        api[0]["hourly"][0]["bottom"][0][key]

      elsif key == "winddir16Point"
         "#{api[0]["hourly"][0]["bottom"][0][key]} #{api[0]["hourly"][0]["bottom"][0]["windspeedKmph"]}"
      end

    elsif weather_type == "marine"
      if key == "uvIndex"
        api[0][key]
      elsif key == "swellHeight_m"
        api[0]["hourly"][0][key]

      elsif key == "waterTemp_C"
         api[0]["hourly"][0][key]
      end
    end
  end
end
 -->
