
<div id="map"
     style="width: 320px; height: 250px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<h5> Your searches:</h5>

<%  @output.each do |out|  %>
  <div class="card">
    <% out[:keys].each do |key| %>
      <small> <%=  retriever(out[:api]["data"]["weather"], key, out[:weather_type], out[:time]) %></small>
    <% end %>
  </div>
<%= link_to "delete", weather_search_path(out[:id]), method: :delete  %>
<% end %>





