
<div id="map"
     style="width: 100%; height: 300px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<h5> World weather online API results :</h5>

<%  @output.each do |out|  %>
  <div class="card">
    <% out[:keys].each do |key| %>
      <small> <%=  retriever(out[:api]["data"]["weather"], key, out[:weather_type], out[:time]) %></small>
    <% end %>
  </div>
<small> <%#= link_to "delete", weather_searches_path(out), method: :delete  %></small>
<% end %>





