// Specific CSS for your home-page

.container {
  background-image: url('https://miro.medium.com/max/4800/1*H2aH5K9ZbZAV8s_-wEWRdA.jpeg');
  background-size: cover;
  height: 900px;
  width: 100%;
  // color: #eee;
  text-align: center;
  // padding-top: 40vh;
}
.h1 {
  padding: 30px;
}

