
<div class="container">
<% if user_signed_in? %>
    <h1> <strong> Welcome back </strong> </h1>
  </br>
    <div class="button" >
      <%= link_to 'Keep exploring', '/weather_searches',:class => "btn btn-primary btn-lg" %>
    </div>
  </div>
<% else %>
  <div class="home-banner">
    <h1> <strong> Welcome to VAMOS  </strong>
  </br>
    <div class="button" >
      <%= link_to 'log-in/sign-up', '/users/sign_in' , :class => "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>
</div>

