.devise-form {
  background-color: rgba(255, 255, 240, 0.2);
  box-shadow: 0px 0px 2px 1px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px;
}


.devise-page {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('https://images.unsplash.com/photo-1586022045497-31fcf76fa6cc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8aGlraW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
