.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("https://res.cloudinary.com/batch-588/image/upload/v1627707027/vamos_wdbae4.jpg");
  box-shadow: none;
  /*position: absolute;*/
  width: 100%;
  padding: 8px;
  align-items: center;
  display: flex;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

.dropdown-menu {
  left:  auto;
  position: relative;
  // margin-top: 50px;
  transform: translate3d(-120px, 60px, 0px);
  border-radius: 10px;
}

// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

