.hidden {
 display:  none;
}

.search-card {
  color:  white;
  background-color: #6DAEDB;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  // background-color: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), rgba(255, 255, 240, 0.2);
  // box-shadow: 0px 0px 2px 1px;
}

.search-form {
  background-color: rgba(255, 255, 240, 0.2);
  box-shadow: 0px 0px 2px 1px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px;
  width: auto;
}

.search-page {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('https://i.pinimg.com/736x/17/cf/95/17cf9540cd8daf4bfc9576a7442f69b8.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
    /*padding: 30px;*/
  }

  .form-inputs {
    color: black;
    /*opacity: 0.8;*/
    font-size: 15px;
    /*font-weight: lighter;*/
  }

  .btn {
    /*background-color: ;*/
    width: 50%;
    margin: 5px;
    border-radius: 10px;
  }

  .btn:hover {
    background-color: #383;
  }

}

/*#weather-search-times {
  color: white;
  opacity: 0.8;
  font-size: 15px;
  font-weight: lighter;
}*/

.weather-search {
  // background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('https://images.unsplash.com/photo-1586022045497-31fcf76fa6cc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8aGlraW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80');
  // background-size: cover;
  // height: 100vh;
  // display: flex;
  background-color: rgb(40, 85, 106);
  // flex-direction: column;
  // justify-content: space-around;
  // align-items: center;hegi
  height: 100vh;
}
.image {
  border-radius: 4px;
}

h5 {
  margin: 25px;
}
.image-card {
  display: flex;

}


