.hidden {
 display:  none;
}

.weather-search {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('https://images.unsplash.com/photo-1586022045497-31fcf76fa6cc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8aGlraW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding-bottom: 50px;
  padding-top: 20px;
  /*display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;*/
}

.first-section {
  padding-bottom: 15px;
}

.first-section-community {
  padding: 10px;
}

.second-section{
  padding-bottom: 10px;
}

.third-section {
  padding: 5px;
}

.search-card {
  color:  white;
  /*background-color: #0074D9;*/
  margin: 20px;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), rgba(255, 255, 240, 0.2);
  box-shadow: 0px 0px 2px 1px;
}

.search-form {
  background-color: rgba(255, 255, 240, 0.2);
  box-shadow: 0px 0px 2px 1px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px;
}

.search-page {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('https://images.unsplash.com/photo-1586022045497-31fcf76fa6cc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8aGlraW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
    /*padding: 30px;*/
  }

  .form-inputs {
    color: black;
    /*opacity: 0.8;*/
    font-size: 15px;
    /*font-weight: lighter;*/
  }

  .btn {
    /*background-color: ;*/
    width: 50%;
    margin: 5px;
    border-radius: 10px;
  }

  .btn:hover {
    background-color: #383;
  }

}

/*#weather-search-times {
  color: white;
  opacity: 0.8;
  font-size: 15px;
  font-weight: lighter;
}*/




